<div class="index-page">
  <div class="container d-flex">
    <div class="sidenav-party-index">
      <div class="container form_find_party">
        <h2>Artists</h2>
      </div>
      <div class="container-li m-3 d-flex justify-content-center">
      </div>
    </div>

  </div>
</div>
