// Specific CSS for your home-page
.alert-messages{
  display:  flex;
  position: relative;
  z-index:  100;
}

.first-session-animation-show {
  opacity:             0;
  animation:           0.5s ease-in 1s show;
  animation-fill-mode: forwards;
}

.first-session-animation-hide {
  opacity:             0.5;
  animation:           1s ease-in hide;
  animation-fill-mode: forwards;
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.home-cards {
  display:         flex;
  justify-content: space-around;
  margin-bottom:   200px;
}

.call-to-action{
  margin-top: 60px;

  .btn{
    border-radius: 5px;
    margin-left:   15px;
    width:         220px;
    border:        none;
    background:    #213E53;
    padding:       5px;
    box-shadow:    3px 3px 3px #12202B, -3px -3px 3px #0C151D;
    font-weight:   500;

    &:hover {
      background: #346283;
      box-shadow: inset 3px 3px 20px #070911;
    }
  }
}

.home-description {
  font-size: 24px;
  color:     white;
}



// -----------------------------------------------------

@media(max-width: 768px) {
  .home-cards {
    display:         flex;
    flex-direction: column;
  }
}






