.container-party-show h1, h2, h3, h6, p, i {
  color: white;
}

.container-party-show i {
  font-size: 30px;
}

.artists-lineup {
  align-items: center;
}

.date-and-place {
  align-items: center;
}

.listen-and-social-medias {
  display: flex;
  margin:  10px 0;
}

.soundcloud-player {
  width: 100%;
}

.social-media-card {
  width:       100%;
  align-items: middle;
}

.select_artist {
  width: 100%;
}

.lineup-name {
  width: 200px;
}
