.profile-page-container {
  display: flex;
  margin: 20px 0;
  color: white;
}


.profile-page-container a {
  color: white;
  font-weight: 200;
}

.profile-page-container a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.title-profile-show {
  margin: 10px 0 20px 0;
}
