<div clas=container>
  <div class="model-performances text-light">
    <span id="graphValues"><%= @pcc_val.sort.join(', ') %></span><br>
    <span id="graphLabels"><%= (1..@kmax).to_a.join(', ') %></span><br>
    <span id="axisTitles">K, PCCs</span><br>
    <div id="debug"></div>
  </div>
</div>

