<div class="alert-for-event-save">
  <h7 id="alert-text"><strong>You can save event you are interested into!</strong>
  <br>Click on the star button and find them all in your <strong>Profile</strong></h7>
  <button class="btn btn-primary closebtn" onclick="this.parentElement.style.display='none';">Done !</button>
</div>
