<div class="alert-for-audio-quizz">
  <h7 id="alert-text"><strong>Listen to some tracks</strong> to refine your preferences and get the best events for you</h7>

  <div class="audio-quizz-card">
    <div class='soundcloud-player-audio-quizz'>
      <%= cl_image_tag 'https://res.cloudinary.com/dozzulcez/image/upload/v1583243952/fvvbxe0knd2kzpdxaptg.png', class: "player-screenshot"%>
    </div>

    <div class="album-picture">
      <img src="https://img.discogs.com/b2w_GU3yv4c-pmDM9iuA1IGe9XM=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8036642-1469442144-9353.jpeg.jpg">
    </div>
  </div>
    <button class="btn btn-primary closebtn" onclick="this.parentElement.style.display='none';"> Next </button>
</div>
