<div class="artist-small-card m-3" id="<%= artist.name %>">
  <%= cl_image_tag "#{image}", alt: "alttext", class: "avatar-artist", id: artist.name %>
  <p class="m-3"><strong id="<%= artist.name %>"><%= artist.name %></strong></p>
</div>
