<div class="artist-small-card-dashboard" id="<%= artist.name %>">
  <%= cl_image_tag 'https://res.cloudinary.com/dozzulcez/image/upload/v1583244127/bsmnakyc3nodk4wwphel.svg', alt: "alttext", class: "avatar-artist-dashboard", id: artist.name %>
  <p class="m-3"><strong id="<%= artist.name %>"><%= artist.name %></strong></p>
</div>
