<div class="artist-small-card" id="<%= artist.name %>">
  <%= image_tag image, alt: "alttext", class: "avatar-artist", id: artist.name %>
  <p class="m-3"><strong id="<%= artist.name %>"><%= artist.name %></strong></p>
</div>
