<div class="audio-quizz-card">

  <div class='soundcloud-player-audio-quizz'>
    <%= render 'shared/soundcloud_player', soundcloud_id: track %>
  </div>

  <div class="album-picture">
    <img src="https://img.discogs.com/b2w_GU3yv4c-pmDM9iuA1IGe9XM=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-8036642-1469442144-9353.jpeg.jpg">
  </div>
</div>
