<div class="banner <%= "first-session-animation-hide" if @non_existing_session %>">
  <!-- <img src="https://s3-us-west-1.amazonaws.com/2019.acypaa.org/assets/party1.jpg" alt=""> -->
  <div class="home-message">
    <h1>Techno2U</h1>
    <%= render 'shared/home_loader' %>
    <h3>Find easily the best music event for you</h3>
    <div class="call-to-action">
      <%= link_to new_preference_path , {class: "btn btn-secondary"} do %>
        Audio Quizz
      <% end %>
      <%= link_to parties_path , {class: "btn btn-secondary"} do %>
        Find a party
      <% end %>
    </div>
  </div>
</div>
