<div id="date-picker-section">
  <div id="date-picker-date-first" class="date-picker-date">24/12/2017</div>

  <div id="date-picker-modal" class="hidden-2">
    <div id="date-picker-top-bar">
      <div id="date-picker-previous-month" class="date-picker-change-month">&lsaquo;</div>
      <div id="date-picker-month">December 17</div>
      <div id="date-picker-next-month" class="date-picker-change-month">&rsaquo;</div>
    </div>
    <div id="date-picker-exit">&times;</div>
      <table id="date-picker">
        <tr id="date-picker-weekdays">
          <th>S</th>
          <th>M</th>
          <th>T</th>
          <th>W</th>
          <th>T</th>
          <th>F</th>
          <th>S</th>
        </tr>
      </table>
    </div>
  </div>
</div>
