<form class='checkboxes'>
  <label for="bar">
    <input type="checkbox" name="bar" id="bar" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="bar">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="bar" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="bar" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">bar</span>
  </label>

  <label for="club">
    <input type="checkbox" name="club" id="club" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="club">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="club" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="club" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">club</span>
  </label>

  <label for="open-air">
    <input type="checkbox" name="open-air" id="open-air" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="open-air">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="open-air" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="open-air" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">open-air</span>
  </label>

  <label for="warehouse">
    <input type="checkbox" name="warehouse" id="warehouse" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="warehouse">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="warehouse" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="warehouse" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">warehouse</span>
  </label>

  <label for="boat">
    <input type="checkbox" name="boat" id="boat" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="boat">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="boat" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="boat" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">boat</span>
  </label>

  <label for="day-party">
    <input type="checkbox" name="day-party" id="day-party" />
    <svg class="checkbox" viewbox="0 0 104 104" data-input="day-party">
      <g transform="translate(-63.5 -323.5)">
        <path data-box="day-party" class="checkbox-box" d="M266.984,608.995h100v100h-100Z" transform="translate(-201.484 -283.495)" />
        <path data-mark="day-party" class="checkbox-mark" d="M250.416,595.916l27,27,44.242-44.242" transform="translate(-169.916 -225.171)" />
      </g>
    </svg>
    <span class="label-text">day-party</span>
  </label>
</form>
