<div class="card">
  <h3 class="title">Card 1</h3>
  <%= render 'shared/star_button'%>
  <div class="bar">
    <div class="emptybar"></div>
    <div class="filledbar"></div>
  </div>
  <div class="event-picture">
    <img src="https://images.unsplash.com/photo-1513670144176-2211a82b531f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="">
  </div>
  <ul class="infos">
    <li><i class="far fa-user text-light"></i>Mall Grab | Dan Shake | Laurent Garnier | ... </li>
    <li><i class="far fa-calendar-alt text-light"></i>Wednesday, 26th February, 2020</li>
    <li><i class="fab fa-houzz text-light"></i>Open-air</li>
  </ul>
</div>
