<div class="home-footer container">
  <div class="home_footer_links">
    <ul class="blink-text-menu">
      <li class = "grid-element"><a href="#">about</a></li>
      <li class = "grid-element"><a href="#">carrier</a></li>
      <li class = "grid-element"><a href="#">community</a></li>
      <li class = "grid-element"><a href="#">contact</a></li>
    </ul>
  </div>

  <div class="social-media-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
  </div>
</div>
