<div class="home-footer container">
  <div class="home_footer_links">
    <ul class="blink-text-menu">
      <li><a href="#">about</a></li>
      <li><a href="#">carrier</a></li>
      <li><a href="#">community</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </div>
    <%= render 'shared/social_tiles' %>
</div>
