<hr style="border-color: rgb(70, 70, 70);">
<div class="home-footer container">
  <div class="home_footer_links">
    <ul class="blink-text-menu list-group list-group-horizontal">
      <li class = "grid-element m-4"><%= link_to 'Home', root_path %></li>
      <li class = "grid-element m-4"><%= link_to 'Parties', parties_path %></li>
      <li class = "grid-element m-4"><%= link_to 'Quizz', new_preference_path %></li>
    </ul>
  </div>
  <div class="social-media-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
  </div>
</div>
