<div class="party-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.residentadvisor.net<%= party.image_url %>);">
  <div class="macarons">
  </div>
</div>
