<%= render 'shared/banner' %>


<div class="container">
  <p class="home-description"></p>

  <div class='home-cards'>
    <% Party.last(3).each do |party| %>
      <%= link_to party_path(party), class: "link-without-style" do  %>
        <%= render 'shared/home_card', party: party%>
      <% end %>
    <% end %>
  </div>
</div>
