<%= render 'shared/banner' %>

<div class="container <%#= "first-session-animation-hide" if @non_existing_session %>">
  <p class="home-description"></p>
  <div class='home-cards'>
    <% Party.all.sample(3).each do |party| %>
      <%= link_to party_path(party), class: "link-without-style" do  %>
        <%= render 'shared/home_card', party: party %>
      <% end %>
    <% end %>
  </div>
</div>

<% unless @user.nil? %>
  <% if @user.preferences.empty? %>
    <%= render 'shared/modal_preferences' %>
  <% end %>
<% end %>
