.alert-for-event-save {
  display:        flex;
  flex-direction: column;
  width:          275px;
  height:         275px;
  font-size:      15px;
  position:       absolute;
  border-radius:  50%;
  align-items:    center;
  margin-left:    700px;
  top:            450px;
  z-index:        10;
  border:         1px solid #858585;
  background:     radial-gradient(#eee,#858585);

  .closebtn {
    position:      absolute;
    bottom:        20px;
    left:          calc(50% - 50px);
    width:         100px;
    border-radius: 5px;
    z-index:       10;
  }

  #alert-text {
    color:        $gray;
    padding:      50px;
    text-justify: center;
  }
}
