// CSS Avatar page show de parties

.artist-small-card {
  width: 150px;
  cursor: pointer;
}


//  CSS Avatar page show de profiles

.artist-small-card-dashboard {
  width: 150px;
  cursor: pointer;
  text-align: center;
}
