$white: #fff;
$lightgray: #F5F5F5;
$midlightgray: #aaa;
$midgray: #999;
$middarkgray: #666;
$darkgray: #444;

$colour-primary: hsl(157,79%,49%);
$colour-primary-light: hsl(157,79%,90%);

$font-display: 'Coda', serif;
$font-body: 'Open Sans', sans-serif;

$drop-shadow-large: 0 0 100px 0 rgba(0,0,0,0.20), 30px 30px 50px 0 rgba(0,0,0,0.06);
$drop-shadow-modal: 0 0 40px 0 rgba(0,0,0,0.30), 30px 30px 40px 0 rgba(0,0,0,0.20);
$drop-shadow-light: 0 0 20px 0 rgba(0,0,0,0.15), 3px 3px 5px 0 rgba(0,0,0,0.06);
$drop-shadow-light-hover: 0 0 25px 0 rgba(0,0,0,0.2), 3px 3px 5px 0 rgba(0,0,0,0.15);

// no xs as this is the default styling
// these are all used as 'min-width' settings for media queries
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;



.date-picker-date {
  border-radius:5px;
  color:$middarkgray;
  background-color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
}

.hidden {
  // display: none !important;
}

.hidden-2 {
  opacity: 0;
  pointer-events: none;
  // transform: scale(0.92);
  transform-origin: left center;
}

#date-picker-section {
  padding-top: 30px;
  padding-bottom: 50px;
}

#date-picker-container {
  margin: 0 auto;
  padding: 40px;
  background: white;
  max-width: 500px;
  box-shadow: $drop-shadow-large;
}

#date-picker-title {
  font-family: $font-display;
  margin-bottom: 25px;
}

#date-picker-dates {
  background: $lightgray;
  padding: 10px;
  margin-bottom: 30px;
  user-select: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.date-picker-date {
  position: relative; display: inline-block;
  background: white;
  padding: 10px 15px; padding-right: 50px;
  cursor: pointer;
  box-shadow: $drop-shadow-light;
  transition: none;

  &:hover, &.active {
    box-shadow: $drop-shadow-light-hover;
  }

  &.active {
    font-weight: bold;
  }

  &:after {
    position: absolute; display: block;
    height: 24px; width: 24px;
    top: 10px; right: 10px;
    content: "";
    background: url("https://image.freepik.com/free-icon/calendar-icon-in-black_318-9776.jpg");
    background-repeat: no-repeat;
    background-size: 24px;
  }
}

#date-picker-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.date-picker-display-pair {
  margin: 10px;
}

.date-picker-display {
  font-family: $font-display;
  font-size: 40px;
}

.date-picker-display-label {
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  // top: -8px;
  text-transform: uppercase;
}

#date-picker-modal {
  width: 310px;
  box-shadow: $drop-shadow-modal;
  padding: 15px;
  position: absolute;
  left: -250px;
  overflow: hidden;
  user-select: none;
  transition: transform 0.1s;
  background: white;
  border-radius:5px;

  &:before {
    position: absolute; display: block;
    top: 0; left: -5px; right: -5px;
    height: 96px;
    background: $background-home;
    content: '';
  }
}

#date-picker-top-bar {
  position: relative;
  color: $middarkgray;
  background: white;
  width: 195px;
  margin: 0 auto; margin-bottom: 3px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-picker-change-month {
  font-size: 23px;
  line-height: 23px;
  padding: 0 10px; padding-bottom: 4px;
  cursor: pointer;
  position: absolute;
  top: 4px;

  &:hover {
    background: $background-home;
  }
}
#date-picker-previous-month {
  left: 5px;
}
#date-picker-next-month {
  right: 5px;
}

#date-picker-month {
  margin: 0 20px;
}

#date-picker-exit {
  position: absolute;
  top: 15px; right: 17px;
  padding: 0 10px;
  font-size: 23px;
  cursor: pointer;
  color: white;

  &:hover {
    background: hsla(0,0%,100%,0.3);
  }
}

#date-picker {
  width: 280px;
  table-layout: fixed;
  position: relative;

  th, td {
    text-align: center;
  }

  th {
    cursor: default;
    border-radius: 0;
    height: 50px;
    border-color: $colour-primary;
  }

  td {
    cursor: pointer;
    color: #666;
    border-radius: 50%;
    height: 38px;

    &:hover {
      background: #eee;
    }

    &.active {
      background: $background-home;
      color: white;
    }

    &.previous-month, &.next-month {
      color: #bbb;
    }
  }
}
