.modal-backdrop {
    opacity:0.9 !important;
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // justify-content: space-between;
  flex-direction:column;

  ul {
    list-style: none;
    left:0;
    padding-left: 0px;
  }

	h3 {
		font-size: 36px;
    text-align: center;
	}
	a {
	  text-decoration: none;
	  color: white;
	  font-size: 20px;
	}

	a:hover {

	  span {
	    .out {
	      opacity: 0;
	      transform: translateX(-100%);
	    }

	    .in {
	      opacity: 1;
	      transform: translateX(0);
	    }
	  }
	}
}
