.navbar {
  justify-content:  space-between;
  background-color: #17141d;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width:       40px;
  margin-left: 10px;
}

.navbar-items {
  text-decoration: none;
  padding-left:    10px;
  color:           white;
  font-weight:     400;
  padding-right:   10px;
}

.navbar a:hover {
    font-weight: 500;
}

.navbar li{
  margin-left:  15px;
  margin-right: 15px;
}

.dropdown-menu {
  background-color: #17141d;
}
