.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-left: 10px;
}

.navbar-lewagon a {
  text-decoration: none;
  padding-left: 10px;
  color: $gray;
  font-weight: 200;
  padding-right: 10px;
}

.navbar-lewagon #bell {
  // text-decoration: none;
  padding-left: 10px;
  color: $gray;
  font-weight: 200;
}

.navbar-lewagon #bell:hover {
  color:black;
}

.bell-and-notif {
    position: relative;
    right:5px;

  .fa-circle {
    position: absolute;
    right: 10px;
    font-size: 10px;
  }
}

.navbar-lewagon a:hover {
    color:black;
    font-weight: 500;
}

#notification {
  width: 320px;
  overflow-wrap: break-word;
  right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #E0EFFF;
  font-size: 16px;

  i {
    background-color: #E0EFFF;
    font-size: 16px;
  }
}
