#hint
{
  color:#333;
}
#debug
{
  position:fixed;
  top:600px;

}


.axis
{
  background-color:white;
  height:1px;
  width:1px;
  position:fixed;
}

.axisValue
{
  color:white;
  position:fixed;
  background-color:red;
}

.spanChartLabel
{
  color:white;
}
.spanChartYAxisValue
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;

}
.spanChartXAxisValue
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartYAxisTitle
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartXAxisTitle
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartLabel
{
  font: 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartTitle
{
  font: bold 14px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}


